@import "tailwindcss";

@theme {
    --color-primary: #FFFFFF;
    --color-secondary: #252525;
    --color-thired: #F2F2F2;
    --color-success: #00FF11;
    --color-failure: #D60400;

    --color-btn-bg-primary: #ffffff;
    --color-btn-bg-secondary: #252525;

    --color-bg-primary: #f8f8f8;
    --color-bg-secondary: #f0f0f0;
}
